/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.App {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.Heading {
  text-align: center;
  color: #333;
}

.InputTask {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}

.SubmitButton {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SubmitButton:hover {
  background-color: #4cae4c;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f1f1f1;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.remove-button {
  float: right;
  width: 20%;
  background-color: #ff4d4d; /* Red background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 5px 10px; /* Padding for a comfortable click area */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.remove-button:hover {
  background-color: #ff1a1a; /* Darker red on hover */
}

.filterButtonSection{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.filterButtonSection > button{
  width: 30%;
  padding: 10px;
  background-color: #ff8000;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filterButtonSection > button:hover{
  background-color: #b35900;
}

.filterButtonSection > button.ActiveFilter{
  background-color: #4d2600;
}